body {
    font-family: raleway;
    margin-top: 35px;
    color: #252627

}

.menu{
	
	 text-align: right;
	 /*font-family: League Spartan;*/

}

.menu span{
	padding-right: 50px;
}

.name{
	padding-left: 80px;
}

.name h1 {
	font-size: 52px;
	/*font-family: League Spartan;*/
	padding: 115px 0 0 0px;
	
}
.name span{
	color: #f06449;
}



.name a{ background-color:#f06449;
    width:123px; 
	height:33px;
    display:block; 
	text-transform:none; 
	color:#fff; text-decoration:none; text-align:center;
	line-height:32px; margin:20px 0 0 0; font-size:18px; padding: 7px;
	/*font-family: League Spartan; */}