body {
    font-family: raleway;
    margin-top: 35px;
    text-align: center;
}

.menu{
    font-size:20px;
    
}

.menu span{
    padding-right:30px;
}


.text-big  span{
    font-size: 50px;
}

.content {
    font-weight: bold;
    font-size: 20px;
    margin:10px 100px;
}

button {
    background-color: #337ab7; /* Green */
    border: none;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor:pointer;
}

.img-medium {
    height: 200px;
}

