*{margin:0; padding:0;}
body{ margin: 0 auto; font-family: raleway; color: #333333;background-color:#efefef;}
a {text-decoration:none; color: #444444;}
ul,li {list-style-type:none;}

#mainDiv{padding: 30px ; position:relative;}

.left a,.left h3{font-size: 16px; color: #333333; font-weight: bold;letter-spacing: 1px}

.ftr a{padding-right: 25px; font-weight:bold;}
/*.sel{color: #33c2e4;}*/
.left li:hover{background-color: #0f9d58;}
.menu>ul:first-child {border-top: 1px solid #f1f1f1;}
.left li{border-bottom: 1px solid #333333; padding: 15px 0; font-size: 14px;background-color:#555555;}

.left{position:fixed;  float: left ;height: 550px; width: 22.5%;background-color: #fff; }
.left div{padding-top: 40px ;}
.innerleft{padding:2px; text-align:center;}
 h2{padding-bottom: 2px; padding-top: 5px;}
 h5{padding-bottom: 20px; font-weight: normal; }
.logo img{height:45px;}


/*.link img{height: 30px;width: 30px; margin-left: 12px; }*/


.name div{padding-left:33px;}
/*.name img:first-child{padding-left:10px;} background-color: yellow;*/

.about{padding-bottom: 10px;}
p{font-size: 15px;}



.right{width:75%;overflow: hidden;float:right;background-color: #fff;}
.padleft{padding:0 40px 20px 30px;}

.ftr{text-align: center;padding-bottom:30px; }
.ftr a{font-weight:normal;font-size:14px;}

.work span{background-color: #fff;margin-bottom: 20px;border: 1px solid #f0f0f0;}
/*.work h5{font-weight: normal;padding-bottom:  13px ;padding-left: 15px;}*/
/*.work h4{padding-top:  8px ; padding-left: 15px;}*/
/*.work div:last-child{clear: both; background-color: red;}*/

.col{width: 33.33333333%;}
.col img{width:100%;}
.item{position:relative; margin-bottom:30px;}
.label{position:absolute;opacity:0; background-color: #0f9d58;height:100%; width:100%; text-align:center;}
.label:hover{z-index:2;opacity:1;}
.label h3{color: #ffffff;font-size: 13px;bottom: 0;left: 0;margin: auto;position: absolute;right: 0;top: 0;height: 55px}

.topic{padding:30px 0 12px 30px;}
hr {opacity:0.2; padding-bottom:35px;}
h4 {font-size:14px;}

.work span:hover{background-color:white;}

.one span{float: left;width: 49%;}
.one img{width: 100%;}
.one span:last-child{float: right;}

#blogPage,#aboutPage{display:none;}
/*#blogPage input{width: 500px; border: none;background-color: #fff;text-overflow: ellipsis;}*/
/*#blogPage img{height: 40px; width: 40px;}*/

/*.bright{ width:77%; float: left; background-color: #f3f3f3; margin:30px 0 ;}*/
/*.bright div{background-color: #fff;border: 1px solid #ebebeb; padding: 30px;  margin-left: 20px;}*/

p{width:600px;}

.progress{margin:8px 0 14px; height:13px;border:1px solid #0f9d58; border-radius:7px;background-color:#fff;position:relative;}
.percentage{background-color:#0f9d58; bottom: 0;position: absolute;top: 0;}

.sub{color:#0f9d58; padding:3px 0 5px 0;}


.logindim{ height: 300px; width: 300px;}

 

#cat{display: block;}

