body {
    font-family: raleway;
    margin-top: 35px;
}

.menu{
	
	 text-align: right;

}

.menu span{
	padding-right: 50px;
}

.name {
	font-size: 40px;
	font-family: League Spartan;
	padding: 50px 0 0 20px;
}

.menu+div{
	color:green;
}


}