*{margin:0; padding:0;}
body{ margin: 0 auto; font-family: raleway; color: #333333;background-image:url(/images/background.png); background-repeat: repeat;}
/*background-color:#efefef;*/
a {text-decoration:none; color: #444444;}
ul,li {list-style-type:none;}

#mainDiv{padding: 30px ; position:relative;overflow:hidden;}

.left a,.left h3{font-size: 16px; color: #333333; font-weight: bold;letter-spacing: 1px}


.left li .active{background-color: #0f9d58;color:#fff;}
.left li:hover{background-color: #5ebd8f;}
/*.left li:hover a{color:#fff;}*/
.menu{margin-top:30px;}
.menu>ul:first-child {border-top: 1px solid #f1f1f1;}
.left li{border-bottom: 1px solid #bbb; padding: 15px 0;color:#333333; font-size: 14px;background-color:#dddddd;cursor:pointer;}

.left li.active{background-color: #0f9d58;}
.left li.active a{color: #fff;}

.left{position:fixed;  float: left ;height: 550px; width: 22.5%;background-color: #fff; }
.left div{padding-top: 40px ;}
.innerleft{ text-align:center;}
 h2{padding-bottom: 2px; padding-top: 5px;}
 h4{ font-weight: normal; font-size:14px;}
.propic img{height:120px; width:120px;}


.name div{padding-left:33px;}

.right{width:75%;overflow: hidden;float:right;background-color: #fff;}
.padleft{padding:0 40px 20px 40px;}
/*.ftr li .active{border-bottom:2px solid #0f9d58;}*/

.ftr li:hover{border-bottom:2px solid #0f9d58;}
.ftr li:hover a{color: #0f9d58;}
.ftr li.act{border-bottom:2px solid #0f9d58;}
.frt li.act a{color: #0f9d58;}

.ftr .act a{color: #0f9d58;}
.ft{text-align: center;padding-bottom:30px; padding-left:38.5%;}
.ftr a{font-weight:bold;font-size:14px;padding: 3px 15px;}
.filtertag{font-size:12px; font-style: italic; padding-top:3px;}


.tiles{margin-left:-15px; margin-right:-15px;}
.col{width: 29.8%; float:left;}
.tiles li{padding-left: 1.77%;padding-right: 1.76%;}
.col img{width:100%;}
.item{position:relative; margin-bottom:30px;}
.label{position:absolute;opacity:0; background-color: #efefef;height:100%; width:100%; text-align:center;}
.label:hover{z-index:2;opacity:0.9;}
.label h3{font-size: 16px;bottom: 0;left: 0;margin: auto;position: absolute;right: 0;top: 0;height: 55px}
.back{background-color:#0f9d58;padding:5px 10px;color:#fff;float:right;}

.line{ border-bottom:2px solid #0f9d58;width:60px;position:absolute;top:93px; }
.comments ,.prof,.education,.crs,#comment_form,.logreg {position:relative;}
.grnline{ border-bottom:2px solid #0f9d58;width:60px;position:absolute;top:63px;}
.topic{padding:30px 0 12px 40px;}
hr {opacity:0.2; margin-bottom:35px;position:relative;}

.work span:hover{background-color:white;}

.one span{float: left;width: 49%;}
.one img{width: 100%;}
.one span:last-child{float: right;}

#blogPage,#aboutPage,#loginPage,#anchor,#wisdom,#carme,#mashape,#buttons,#dash,#school {display:none;}

.about{width:46%;}
.details{width:32%;float:right;position:absolute;top:133px; right:70px;}
.details ul{    border: 1px solid #efefef;text-align: center;}
.details ul li{    border-bottom: 1px solid #efefef;background: #fafafa;font-size: 14px;}
.details ul li .info{width: 35%;background: #ffffff;left: -1px;position: relative;border-right: 1px solid #efefef;
color: #333333;display: inline-block;padding: 12px 0;font-weight:bold;}
.details ul li .val{display: inline-block;padding:12px 0; width: 63%;color: #666666;}
p{font-size: 15px;}

/*.aboutdv{position relative;}*/

.skill{clear:both;}

.progress{margin:12px 0 25px; height:13px;border:1px solid #0f9d58; border-radius:7px;background-color:#fff;position:relative;}
.percentage{background-color:#0f9d58; bottom: 0;position: absolute;top: 0;}

.subject{font-weight:bold;}
.sub{color:#0f9d58; padding:3px 0 5px 0;font-weight:bold;}
.blogs hr{margin-top:15px;}
.blogs h6{colour:#555555;}
h5{color:#0f9d58; padding:3px 0 15px 0;font-weight:normal;}

.logindim{ height: 300px; width: 300px;}
/*#comment_form{background-color:red;}*/
.comment hr{margin-top:30px;}
#comment_form a{padding:5px 15px;background-color:#0f9d58;}
.comment:last-child hr{display:none;}
 
 input{border:1px solid #ccc; border-radius:6px;padding-left: 15px;opacity:0.5;}
.text input{width: 350px;height: 40px;}
.btn{background-color:#0f9d58;}
#cat{display: block;}

