body {
    font-family: sans-serif;
    margin-top: 75px;
    text-align: center;
}

.menu{
    font-size:20px;
    
}

.menu span{
    padding-right:30px;
}


.text-big  span{
    font-size: 50px;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

