* {margin:0; padding:0;}
body{ width:1024px ; margin: 0 auto; font-family: raleway; color: #333333;}
a {text-decoration:none; color: #444444;}
ul,li {list-style-type:none;}


/*.top{height:55px;padding: 10px 0;border-bottom: #ebebeb 1px solid; position: relative;}
.top float: left;}
.top h1{letter-spacing: 6px;font-size: 16px;float: left;position: absolute;top: 60px;left: 0;}*/
.left img{height: 45px; width: 45px; }

a,h3{font-size: 16px; color: #333333; font-weight: bold;letter-spacing: 1px}

.ftr a{padding-right: 25px; font-weight:bold;}
.sel{color: #33c2e4;}
a:hover{color: #33c2e4;}
.menu>ul:first-child {border-top: 1px solid #f4f4f4;}
li{border-bottom: 1px solid #f4f4f4; padding: 10px 0; font-size: 14px;}

.left{width:20%;float: left;margin: 0 2% 0 0; }
.left>div{padding-top: 40px ;}
/*.left h2{padding-bottom: 2px; padding-top: 5px;}*/
/*.left h5{padding-bottom: 20px; font-weight: normal;}*/

.link img{height: 30px;width: 30px; margin-left: 10px; }
.name div{padding-left:33px;}
/*.name img:first-child{padding-left:10px;} background-color: yellow;*/

/*.about h3{padding-bottom: 10px;}*/
p{font-size: 15px;}

.right{background-color: #f8f8f8; width: 77%; margin:30px 0 ;overflow: hidden;}

.ftr{text-align: center;margin: 20px ;}
.ftr a{background-color: #fff;padding: 10px ;border: 1px solid #f4f4f4; margin: 1px;}

.work span{background-color: #fff;margin-bottom: 20px;border: 1px solid #f4f4f4;}
/*.work h5{font-weight: normal;padding-bottom:  13px ;padding-left: 15px;}*/
/*.work h4{padding-top:  8px ; padding-left: 15px;}*/


.one span{float: left;width: 49%;}
.one img{width: 100%;}
.one span:last-child{float: right;}

.two span{float: left;width: 31.72%; }
.two img {width: 100%;}
.two span:last-child{float: right;}
#middle{margin: 0 2% ;margin-bottom: 20px;}

